* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: #d9dcd6;
    background-color: #ffffff;
    font-family: Arial;
}

/*HEADER START*/
header {
    padding: 20px 35px;
    background-color: #2a607c;
}
header h1 {
    font-weight: bold;
    font-size: 48px;
    color: #d9dcd6;
    margin: 0;
    display: inline;
}  
header a {
    text-decoration: none;
    color: #d9dcd6;
}
header nav {
    float: right;
    margin: 0 10px;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 40px;
    font-size: 25px;

}
/*HERO START*/
.hero {
    height: 800px;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
}

/*CONTENT START*/
.content {
    font-family: Arial;
    text-align: left;
    width: 900px;
    margin: 0 auto 30px auto;
    background: #0072bb;
    color: #ffffff;
    overflow: auto;  
}
.section-title {
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 35px;
    padding: 10px 20px;
    display: inline-block;
    border-bottom: 3px solid;
}
.content img {
    width: 35%;
    float: left;
    padding: 50px;
  }
.content-text {
    padding: 50px 50px 0 0;
    float: left;
    width: 65%;
} 
.content-text h3 {
    font: 32px bolder;
    margin-bottom: 8px;
    display: block;
}
.content-text p {
    font-size: 17px;
    line-height: 1.3;
}
.content-seo {

}

/*FOOTER START*/
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}
footer h2 {
    font-size: 30px;
}
footer div {
    line-height: 1.5;
    text-align: right;
}

/*BENEFITS START*/


/*UTILITIES START*/
p {
    font-size: 16px;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.float-right {
    float: right;
    margin-left: 25px;
}